{% extends 'base.html' %}

{% load static %}

{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azamat's Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>


<div class="container">
    <header>
        <h1>Azamat's Blog</h1>
    </header>

    <div class="content">
        <div class="blog-list">
            {% if posts %}
            {% for year, posts_by_year in posts.items %}
            <div class="year">
                <h2>{{ year }}</h2>
                <ul>
                    {% for post in posts_by_year %}
                    <li>
                        <span class="date">{{ post.created_at|date:"d F, Y" }}</span>
                        <strong>{{ post.title }}</strong>
                        <p>{{ post.content }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% else %}
            <p>No posts available. Please add posts in the admin panel and set their status to "Published".</p>
            {% endif %}
        </div>



        <div class="sidebar">
            <h3>Obuna Bo'ling</h3>
            <p>Yangi maqola, maruza va darslarimni
                <a href="https://t.me/lazyprogrammer">@lazyprogrammer</a> telegram kanalimda topishingiz mumkin.
            </p>
        </div>
    </div>
</div>
{% endblock content %}